<?xml version="1.0" encoding="UTF-8"?>

<configuration>
	<include resource="org/springframework/boot/logging/logback/defaults.xml" />
	<include resource="org/springframework/boot/logging/logback/console-appender.xml" />

	<springProperty scope="context" name="loggingLevelRoot" source="logging.level.root" defaultValue="debug" />

	<root level="${loggingLevelRoot}">
		<appender-ref ref="CONSOLE" />
	</root>

</configuration>