<?xml version="1.0" encoding="UTF-8"?>

<configuration>
	<include resource="org/springframework/boot/logging/logback/defaults.xml" />
	<include resource="org/springframework/boot/logging/logback/console-appender.xml" />

	<springProperty scope="context" name="loggingLevelRoot" source="logging.level.root"
		defaultValue="debug" />

	<appender name="FILE-AP" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<!-- 
	    <file>${apple.mint.home}//logs//${LOG_FILE}</file>
	     -->
		<file>${apple.mint.log.dir}//a9.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<!-- 
	        <Pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{36}.%M - %msg%n</Pattern>
	         -->
			<Pattern>%d{dd-MM HH:mm:ss.SSS} [%thread] %-5level %logger{20}.%M - %msg%n</Pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>${apple.mint.log.dir}//a9_%d{dd-MM-yyyy}_%i.log</fileNamePattern>
			<maxFileSize>20MB</maxFileSize>
			<maxHistory>20</maxHistory>
			<totalSizeCap>100MB</totalSizeCap>
		</rollingPolicy>
	</appender>


	<appender name="FILE-SYSTEM" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${apple.mint.home}//logs//system.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<!-- 
	        <Pattern>%d{dd-MM-yyyy HH:mm:ss} %-5level %logger{36}.%M - %msg%n</Pattern>
	         -->
			<Pattern>%d{dd-MM HH:mm:ss} %-5level %C{0}.%M - %msg%n</Pattern>

		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>${apple.mint.home}//logs//system_%d{dd-MM-yyyy}_%i.log</fileNamePattern>
			<maxFileSize>20MB</maxFileSize>
			<maxHistory>20</maxHistory>
			<totalSizeCap>100MB</totalSizeCap>
		</rollingPolicy>
	</appender>

	<logger name="apple.mint.SystemLogger" additivity="false">
		<level value="debug" />
		<appender-ref ref="FILE-SYSTEM" />
		<appender-ref ref="CONSOLE" />
	</logger>

	<root level="${loggingLevelRoot}">
		<appender-ref ref="FILE-AP" />
		<appender-ref ref="CONSOLE" />
	</root>

</configuration>